.bookInfo--main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.book--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem;
    
}
.book--card--info{
    padding: 1rem;
}


