.bookInfo--main {
  margin-top: 50px;
  padding: 20px;

  .back--btn {
    img {
      width: 50px;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .bookInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(58, 144, 197);
    .book--card {
      text-align: center;

      h2 {
        color: whitesmoke;
        font-size: 25px;
      }

      img {
        padding-top: 15px;
        width: 150px;
      }
    }
    .book--card--info {
      margin-top: 10px;
      line-height: 1.5;
      padding: 5px;
      // text-align: center;

      .flex {
        display: flex;

        h2 {
          color: white;
        }

      }
      .book--card--synopsis {
        h2 {
          color: white;
        }

      }
      
    }
  }
}
