.checkpoint--container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .checkpoints {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 30px;
    }

    .checkpoint_card {
      // color: rgb(128, 78, 22);
      width: 100%;
      height: 100px;
      background-color: rgba(236, 236, 236, 0.937);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      margin-bottom: 5px;
      border-radius: 3px;

      img {
        width: 100px;
        height: 120px;
        padding: 1rem;
      }

      h2 {
        font-size: 12px;
      }
      .checkpoint--btn {
        width: 80px;
        height: 30px;
        border-radius: 10px;
        font-family: sans-serif;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        a {
          color: black;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.541);
          color: white;
        }
      }
    }
  }
}
