.checkpoint--detail {
  margin-top: 50px;
  padding: 20px;

  .back--btn {
    img {
      width: 50px;
      margin-bottom: 10px;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .checkpoint--info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(58, 144, 197);

    .checkpoint--card {
      // text-align: center;

      img {
        width: 100%;
        height: 190px;
        padding: 5px;
        width: 100%;
        border-radius: 20px;
      }
    }
    .checkpoint--card--info {
      margin-top: 10px;
      line-height: 1.5;
      padding: 5px;

      p {
        display: flex;
        align-items: center;

        img {
          padding: 5px;
          width: 30px;
        }
      }

      .checkbooks--container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .checkbooks--info{
          border-top: 1px solid black;
          h4 {
            font-weight: bold;
          }
        }


        button {
          border-radius: 10px;
          border: none;
          width: 50px;
          
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .action--btns {
    display: flex;
    justify-content: space-evenly;
    padding: 0.9rem 2rem;

    button {
      border-radius: 15px;
      width: 70px;
      height: 40px;

      img {
        width: 25px;
      }
    }
    .delete--btn {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.867);
    }
    .update--btn {
      background-color: rgba(255, 255, 255, 0.89);
    }
  }
}
