.checkpointInfo--main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkpoint--card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 0rem 3rem 0rem;
    
}

    img{
        width: 330px;
    height: 400px;
    margin-top: 28px;
    border-radius: 2px;
    
    }

.checkpointInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checkpoint--card--info{
    color: rgb(209 194 127);
    padding: 1rem;
}