.checkpoint--detail {
  display: flex;
  flex-direction: column;
  
  .title {
   text-align: center;
   padding-bottom: 10px;
  }

  .checkpoint--info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .checkpoint--card {
      .checkpoint--card--img {
        width: 250px;
        height: 190px;
        padding: 5px;
        img {
          width: 100%;
          border-radius: 20px;
        }
      }
    }
    .checkpoint--card--info {
      padding: 1rem;
      background-color: rgba(22, 22, 22, 0.199);

      p {
      display: flex;
      align-items: center;
      
        img {
          padding: 5px;
          width: 30px;
        }
      }
    }
  }

  .action--btns {
    display: flex;
    justify-content: space-evenly;
    padding: 0.9rem 2rem;
    
    button{
      border-radius: 15px;
      width: 70px;
      height: 40px;

      img {
        width: 25px;
      }

    }
    .delete--btn {
      background-color: rgba(248, 53, 53, 0.747);
    }
    .update--btn {
      background-color: rgba(238, 241, 10, 0.89);
    }
  }
}
