.myaccount {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 20px;
    line-height: 2;
    color: whitesmoke;
    border: solid 3px rgb(255, 255, 255);
    background: rgba(52, 52, 52, 0.795);
    border-radius: 15px;

    img {
      border: solid 2px white;
      border-radius: 50%;
    }

    .info {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &:hover {
      transform: scale(1.03);
      color: black;
      border: solid #002c55;
      background-color: rgb(166, 166, 166);
    }
  }
}
