html {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#856d42, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    top: 5px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box form .send {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #002c55;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box .send:hover {
    background: #002c55;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #002c55, 0 0 25px #002c55, 0 0 50px #002c55, 0 0 100px #03e9f4;
}

.login-box .send span {
    position: absolute;
    display: block;
}

.login-box .user-box-terms {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    .checkbox {
        display: flex;
        margin-top: 15px;
        /* margin-left: 135px; */
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        margin-right: 8px;
    }
}

@media (max-width: 720px) {
    #login-box {
        flex-direction: column;
    }
}
