.navbar {
    // position: fixed;
    // z-index: 1;
    height: 15vh;
    width: 100%;
    border-top: solid 3px gray;
    background: whitesmoke;
    display: flex;
    justify-content: center;

    .links {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
        a {
            &:hover {
                transform: scale(1.05);
            }
        }
    
        .map {
            width: 50px;
            height: auto;
        }
        
        .checkpoint {
            width: 50px;
            height: auto;
        }

        .home {
            width: 50px;
            height: auto;
        }
        
        .books {
            width: 50px;
            height: auto;
        }
        
        .create {
            width: 50px;
            height: auto;
        }
    }

}