.navbar {
  // position: fixed;
  // z-index: 1;
  height: 10vh;
  width: 100%;
  border-top: solid 3px gray;
  background: whitesmoke;
  display: flex;
  justify-content: center;

  .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      text-align: center;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 50px;
        height: auto;
      }

      h5 {
        color: black;
        font-size: 12px;
      }
    }
  }
}
