.navbar {
  // position: fixed;
  // z-index: 999;
  height: 10vh;
  width: 100%;
  border-top: solid 3px gray;
  background-color: white;
  display: flex;
  justify-content: center;

  .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      text-align: center;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 50px;
        height: auto;
      }

      h5 {
        color: black;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
 .navbar {
  height: 15vh;
  width: 90%;
 }
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 70px;
    width: 85%;
  }
}
