.nav-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 8vh;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid black;

  a img {
    padding: 10px;
    width: 50px;
    height: 50px;

    &:hover {
      transform: scale(1.02);
    }
  }
}
