.bg-overlay {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url(../public/assets/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
}

.app {
  z-index: 10;
  background: transparent;
  height: calc(100% - 80px);
  padding-top: 81px;
  display: flex;
  flex-direction: column;

  &--main {
    z-index: 10;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// }

// @media only screen and (min-width: 600px) {

// }

// @media only screen and (min-width: 768px) {

// }
