.leaflet-container {
    width: 100vw;
    height: 88vh;
    
}
.leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom {
    height: 80vh;
    
}

// body {
// height: 800px;
// }
main {
    padding: 30px 0 100px 0;
    height: 760px;

}
