/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//Estilos personalizados

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}

html, body, #root {
	height: 100%;
}

button.styled {
	background-color: #1877f2;
	border: none;
	border-radius: 6px;
	color: #fff;
	flex-grow: 1;
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 15px;
	height: 36px;
	line-height: 20px;
	margin-left: 8px;
	margin-right: 6px;
	min-width: 100px;
	padding: 0 16px 0 16px;
	transition: 0.3s;
	cursor: pointer;
}

button.styled:hover {
	background-color: #e4e6eb;
	color: #050505;
	font-size: 15px;
	transition: 0.3s;
}